body {
    margin: 0;
}

.wrapper {
    width: 100%;
    display: flex;

    .container {
        width: 100%;
        border-right: 2px solid gray;
        padding: 20px;
        box-sizing: border-box;

        &_result {
            width: 40%;
            border-right: none;
        }

        .task {
            height: 300px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

.square {
    // только исправления, новых св-в не добавлять!
    width: 200px;
    height: 200px;
    background-color: green;
    color: white;
    font-size: 40px;
    font-weight: bold;
    box-shadow: 5px 5px 15 0 black;
    border: 1 solid red;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}

.clip {
    width: 200px;
    height: 100px;
    background-color: orange;
    border: 3px solid green;
    clip-path: polygon(0 0, 80% 0, 80 20%, 100% 0, 10px 100%, 0 100%);
}

.news {
    width: 300px;

    &__title {
        font-weight: bold;
        font-size: 25px;
    }

    &__text {

        .italic {
            font-size: 16;
            text-decoration: uppercase;
            text-transform: underline;
        }
    }
}

.perspective {
    width: 200px;
    height: 200px;
    background-color: orange;
    position: relative;
    border-radius: 20px;
    border: 2px solid red;

    &__inside-1 {
        width: 150px;
        height: 100px;
        background-color: green;
        position: relative;
        right: 50px;
        box-shadow: 0 0 10 0 black;
    }

    &__inside-2 {
        width: 100px;
        height: 100px;
        background-color: red;
        left: 50px;
        box-shadow: 0 0 10px 0 black;
    }
}
